.contentLoaderWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.iff{
    min-height:150vh !important;
    overflow: hidden !important;
}